@import '@/styles/mixin';

.select_wrapper {
  width: 270px;
}

.select_button {
  @include flexCenter;
  @include resetButton;

  padding: 16px;

  justify-content: space-between;

  width: 100%;
  height: 45px;

  border: 1px solid #1a1a1a;

  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.02em;

  cursor: pointer;
}

.no_option {
  @include flexCenter;
  @include resetButton;

  padding: 16px;

  justify-content: space-between;

  width: 100%;
  height: 45px;

  border: 1px solid #808080;
  background-color: #f2f2f2;

  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #808080;
}

.icon {
  font-size: 20px;
}

.options {
  margin-top: 2px;
  padding: 0;

  max-height: 136px;

  border: 1px solid #1a1a1a;
  border-bottom: none;

  list-style: none;
  overflow-y: scroll;

  & li {
    padding: 16px;

    display: flex;
    align-items: center;

    height: 45px;

    border-bottom: 1px solid #1a1a1a;

    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: -0.02em;

    cursor: pointer;

    &:hover {
      background: rgb(245 245 245);
    }
  }
}
