@import '@/styles/mixin';

.tag {
  @include flexCenter;

  padding: 4px 6px;

  width: 38px;
  height: 18px;

  font-size: 10px;
}

.blue {
  background-color: #256cee;
  color: #ffffff;
}

.gray {
  background-color: #e6e6e6;
  color: #333333;
}
