@import '@/styles/mixin';
@import '@/styles/function';

.wrapper {
  padding: rem(40px);
  padding-bottom: rem(150px);
}

.product_list {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
}

.footer {
  margin-left: rem(-40px);
  padding: rem(18px) rem(24px);

  position: fixed;
  bottom: 0;

  width: rem(375px);
  height: rem(85px);

  background-color: #ffffff;
  box-shadow: 0px rem(-2px) rem(32px) rgba(136, 136, 136, 0.25);
}

.buy_button {
  @include flexCenter;
  @include resetButton;

  padding: rem(12px);

  gap: rem(8px);

  width: 100%;

  background-color: #000000;
  box-shadow: 0px rem(2px) rem(8px) rgba(0, 0, 0, 0.25);

  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

.vertical {
  height: rem(14px);

  border-left: 1px solid #ffffff;
}

.no_product {
  @include flexCenter;

  margin-top: rem(100px);

  flex-direction: column;

  & .title {
    margin: 0;

    font-weight: 500;
    font-size: rem(20px);
    line-height: 160%;
    letter-spacing: -0.02rem;
    color: #333333;
  }

  & .sub {
    margin: 0;
    margin-top: rem(5px);

    font-weight: 400;
    font-size: rem(14px);
    line-height: 150%;
    letter-spacing: -0.02rem;
    color: #888888;
  }

  & button {
    @include resetButton;
    @include flexCenter;

    margin-top: rem(16px);
    padding: 0 rem(32px);

    border: 1px solid #e1e1e1;
    border-radius: rem(4px);

    font-weight: 500;
    font-size: rem(16px);
    line-height: 300%;
    letter-spacing: -0.02rem;
    color: #222222;

    &:hover {
      background: rgb(245 245 245);
    }
  }
}
