@import './variables';

@mixin mobile {
  @media (max-width: #{$breakpoint-moblie}) {
    @content;
  }
}

@mixin nonmoblie {
  @media (min-width: #{$breakpoint-moblie}) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin resetButton {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  text-align: start;
}

@mixin a11y_hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
