@import './variables';

@mixin mobile {
  @media (max-width: #{$breakpoint-moblie}) {
    @content;
  }
}

@mixin nonmoblie {
  @media (min-width: #{$breakpoint-moblie}) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin resetButton {
  padding: 0;

  border: none;
  background: transparent;
  text-align: start;

  cursor: pointer;
}

@mixin a11y_hidden {
  margin: -1px;
  padding: 0;

  position: absolute;

  width: 1px;
  height: 1px;

  border: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin a11y_visible {
  margin: 0;

  position: static;

  width: auto;
  height: auto;

  overflow: visible;
  clip: auto;
}
