@import '@/styles/mixin';
@import '@/styles/variables';
@import '@/styles/function';

@include mobile {
  .left,
  .right {
    display: none;
  }

  .main {
    position: relative;

    width: 100%;
  }
}

@include nonmoblie {
  .wrapper {
    display: flex;
  }

  .left,
  .right {
    flex-grow: 1;

    height: auto;
    min-height: 100vh;

    background: #f2f2f2;
  }

  .left {
    position: relative;

    flex-basis: rem(593px);

    & .phrase {
      position: absolute;
      top: 50vh;
      right: rem(30px);

      display: block;
      text-align: center;

      font-weight: 700;
      font-size: rem(25px);
      line-height: rem(36px);
      letter-spacing: -0.02em;
    }
  }

  .right {
    flex-basis: rem(312px);
  }

  .main {
    position: relative;

    flex-grow: 0;
    flex-shrink: 0;

    width: #{$breakpoint-moblie};
  }
}
