@import '@/styles/mixin';

.wrapper {
  padding: 5px 15px;

  position: relative;

  width: 300px;
  height: 350px;

  background: #ffffff;
}

.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.add_button {
  @include resetButton;

  padding: 21px 84px;

  position: absolute;
  bottom: 16px;

  width: 270px;
  height: 60px;

  background-color: #1a1a1a;

  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
