.title {
  margin-top: 26px;
  margin-left: 18px;

  display: flex;
  flex-direction: column;

  width: 229px;
  height: 60px;

  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.description {
  color: #808080;
}

.product_list {
  padding: 0 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
