@import '@/styles/mixin';

.wrapper {
  @include flexCenter;

  height: 60px;

  border: 1px solid #000000;
  border-left: none;
  border-right: none;
}

.icon_wrapper {
  @include flexCenter;

  width: 60px;

  font-size: 1.5rem;

  & button {
    @include resetButton;
  }
}

.title {
  @include flexCenter;

  width: 255px;
  height: 100%;

  border: 1px solid #000000;
  border-top: none;
  border-bottom: none;

  letter-spacing: -0.04em;
}
