@import '@/styles/mixin';

.wrapper {
  width: 100%;
  display: flex;
  gap: 12px;
  position: relative;
}

.item_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #333333;
}

.selected_option {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #666666;
}

.origin_price {
  display: block;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: #666666;
}

.price_wrapper {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.discount_rate {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #e94734;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #333333;
}

.delete_button {
  position: absolute;
  right: 0;
  color: #333333;
  font-size: 20px;
  cursor: pointer;
}
